<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P2PLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="Test" value="TEST"/>
  </appSettings>
  <userSettings>
    <P2PLauncher.Properties.Settings>
      <setting name="Test" serializeAs="String">
        <value />
      </setting>
      <setting name="FreeLanExecutableLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="AdaptersToTurnOff" serializeAs="String">
        <value />
      </setting>
      <setting name="ServicesToTurnOff" serializeAs="String">
        <value />
      </setting>
    </P2PLauncher.Properties.Settings>
  </userSettings>
</configuration>